body {
    height: auto;
    width: auto;
}

/* header */
header {
    width: auto;
    height: 180px;
    background-image: url(../images/pattern.png);
    background-color: #4fa0ff;
}

#logo {
    height: 100px;
    width: 400px;
    padding-top: 90px;
}

/* /header */

/* main */

h1 {
    font-size: 60px;
    margin-bottom: auto;
}

#sottotitolo {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
}

#azzurro {
    color: aqua;
}

/* /main */


/* footer */

/* /footer */