body {
    height: 1546px;
    width: 1057px;
}

/* header */
header {
    width: 1057px;
    height: 180px;
    background-image: url(../images/pattern.png);
    background-color: #4fa0ff;
}

#logo {
    height: 100px;
    width: 400px;
    padding-top: 90px;
}

/* /header */

/* main */

/* /main */


/* footer */

/* /footer */