body {
    height: auto;
    width: 1200px;
}

/* header */
header {
    width: auto;
    height: 180px;
    background-image: url(../images/pattern.png);
    background-color: #4fa0ff;
}

#logo {
    height: 100px;
    width: 400px;
    padding-top: 90px;
}

/* /header */

/* main */

h1 {
    font-size: 60px;
    margin-bottom: auto;
}

#immaginitesta {
    padding-top: 20px;
}

section {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 25px;
}

#sottotitolo {
    font-size: 20px;
    color: #808080;
}

#evidenziato {
    background-color: yellow;
}

#azzurro {
    color: #1fa9e6;
}

/* tabella  */

table {
    border-collapse: collapse;
    font-size: 22px;
}

thead {
    background-color: #1fa9e6;
    color: white;
}

#trcolor {
    background-color: #b1e5f2;
}

/* /main */


/* footer */
#trasparenza {
    color: #808080;
}

#footer1 {
    color: rgb(255, 255, 255);
    background-image: url('../images/monitor.jpg');
    height: 208px;
    width: 312px;
}

#footer2 {
    color: rgb(255, 255, 255);
    background-image: url('../images/graph.jpg');
    height: 208px;
    width: 312px;
}

/* /footer */